/* ************ Dimension: S ************ */

@media screen and (min-width:650px){

    .side-bar{
        flex-basis: 250px;
    }

    #logo-piccolo{
        display: none;
    }

    #logo-grande{
        display: block;
    }

    .hidden-text{
        display:block;
    }

    .playlist-box{
        display: block;
    }

    .separator{
        display: block;
    }
}


/* ************ Dimension: M ************ */

@media screen and (min-width:768px){
    
    .col{
        flex-basis: 25%;
    }
}


/* ************ Dimension: XL ************ */

@media screen and (min-width:1200px){

    .col{
        flex-basis: calc(100% / 6);
    }

}