/*Css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generals*/

body{
    font-family: Montserrat;
}

/*Utilities*/

/*structure control*/
main{
    background-color: #141922;
    height: calc(100vh - 150px);
    overflow: auto;
    color: white;
    display: flex;
}

.audio-controls{
    height: 150px;
    background-color: #282828;
}

.side-bar{
    width: 90px;
    background-color:black;
    height: 100%;
    overflow: hidden;
}

.main-section{
    width: calc(100vw - 90px);
    height: 100%;
    overflow: auto;
    
}

/* Header-main-section*/

#header-main-section{
    height: 100px;
    background-color: #080B12;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-button{
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px 50px;
    margin-right: 20px;
}

.upgrade-button a{
    color:white;
    text-decoration: none;
}